.itemCard {
  margin: 2rem;
  padding: 2rem;
  border: 1px solid rgb(154, 153, 153);
  border-radius: 0.5rem;
}

.itemCard img {
  border-radius: 0.5rem;
}

.itemCard section {
  padding: 1rem 0;
}

.itemCard section h3 {
  font-size: 2.5rem;
  font-family: "Oswald", sans-serif;
  font-weight: normal;
}

.itemCard section p {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: rgb(165, 165, 165);
}

.itemCard button {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  color: white;
  background: rgb(203, 139, 20);
  border: 1px solid rgb(203, 139, 20);
  cursor: pointer;
  transition: all 200ms ease-in;
}

.itemCard button:hover {
  background-color: rgb(172, 118, 19);
}
